.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 40px;
    gap: 50px;
}

.ant-form-item {
    margin-bottom: 8px;
  }

.forms-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 5px;
}

.form-vert-group {
    display: flex;
    gap: 6px;
}

.button-group {
    display: flex;
    gap: 10px;
}
